#wrap {
	max-width: 700px;
	margin: 0 auto;
}
#head {
	padding-top: 30pt;
}
#symbol {
	font-size: 16pt;
	border:1pt solid black;
	color: inherit;
	padding:3pt;
	padding-top:5pt;
	text-decoration: inherit;
}
a {
	text-decoration: none;
}
a.navItem {
	border-bottom: 1pt solid black;
	padding-bottom: 4pt;
    padding-right: 100px;
	color: inherit;
	text-decoration: inherit;
	transition: color 0.2s ease;
}
a.navItem:hover {
	color: brown;
}
img {
	width: auto\9;
}
img.max {
	max-width: 700px;
}
body {
	font-size: 12pt;
	line-height: 200%;
	padding-bottom: 100pt;
}
h1 {
  padding-top: 36pt;
	font-size: 16pt;
	font-weight: inherit;
}
h2 {
	font-size: 12pt;
	font-weight: 600;
	padding-top: 6pt;
}
h3 {
	font-size: 12pt;
	font-weight: 300;
	position: relative;
	bottom: 12pt;
	z-index: -1;
}
h3.date {
	font-size: 12pt;
	font-weight: 300;
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: -1;
}
p.noSpace {
	line-height: 140%;
	margin-top: 5px;
	margin-bottom: 5px;
}
p {
	line-height: 150%;
}

path {
	fill: #595959;
}
circle {
	fill: #595959;
}






