#wrap {
	width: 600px;
	margin: 0 auto;
}
#head {
	padding-top: 40px;
	padding-bottom: 80px;
}
#symbol {
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 27px;
}
#nav {
	padding: 0;
	margin: 0;
	display: inline-block;
}
#nav li {
	list-style-type: none;
	display: inline;
	padding-right: 20px;
	text-decoration: none;
}
a {
	text-decoration: none;
}
a.navItem {
	color: inherit;
	text-decoration: inherit;
	transition: color 0.2s ease;
}
a.navItem:hover {
	color: brown;
}
img.max {
	width: 600px;
}
body {
	font-family: 'Slabo 13px', serif;
	font-size: 13px;
	line-height: 200%;
	padding-bottom: 150px;
}
h1 {
	font-family: 'Slabo 27px', serif;
	font-size: 27px;
	font-weight: inherit;
}
h2 {
	font-family: 'Slabo 13px', serif;
	font-size: 13px;
	font-weight: 600;
	padding-top: 20px;
}
p.noSpace {
	line-height: 100%;
}





